.c-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.625rem;
  height: 1.625rem;
}

/* cart */
.smooth-show-cart-count {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: -25%;
  right: -35%;
  transform: scale(1);
  opacity: 1;
  animation-name: smoothShow;
  animation-duration: 0.5s;
}

@keyframes smoothShow {
  from {
    bottom: 15%;
    right: 5%;
    transform: scale(0);
    opacity: 0;
  }
  to {
    bottom: -25%;
    right: -35%;
    transform: scale(1);
    opacity: 1;
  }
}

.smooth-hide-cart-count {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: -25%;
  right: -35%;
  transform: scale(0);
  opacity: 0;
  animation-name: smoothHide;
  animation-duration: 0.5s;
}

@keyframes smoothHide {
  from {
    bottom: -25%;
    right: -35%;
    transform: scale(1);
    opacity: 1;
  }
  to {
    bottom: 15%;
    right: 5%;
    transform: scale(0);
    opacity: 0;
  }
}

.section-header {
  position: relative;
  margin-bottom: 20px;
}

.section-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 50px;
  height: 5px;
  background-image: linear-gradient(to bottom right, #95b8ee, #2b5fac);
}
